@import "../../App.scss";
.actors {
  width: 100%;
  background: linear-gradient(#111, 50%, $sectionColor);
  .container {
    padding: 20px 0;
    width: 90%;
    margin: auto;
    margin-top: 10vh;
    @include flexOne(column);
    h2 {
      @include title(#fff);
    }
    @media (max-width: 768px) {
      h2 {
        margin-bottom: 50px;
        margin-top: -5px;
      }
    }
  }
}
