@import "../../App.scss";
.groupPageButton {
  margin: auto;
  padding: 20px;

  div {
    color: $blueColor;
  }
  button {
    @include bouton(transparent, $blueColor);
    border: 1px solid $blueColor;
    padding: 4px unset;
    margin: 0 10px;
    &:hover {
      @include boutonHover($blueColor, $whiteColor);
      transform: scale(1.1);
      transition: 0.4s ease-in-out;
      border: 1px solid $blueColor;
    }
  }
  @media (min-width: 541px) {
    .pages {
      display: none;
    }
  }
  @media (max-width: 540px) {
    #pagination {
      display: none;
    }
    .pages {
      span {
        font-size: 20px;
        margin: 0 10px;
        position: relative;
        top: -5px;
      }
    }
  }
}
