@import "../../App.scss";
.movie-card-container {
  @include flexOne(row);
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: 768px) {
    margin-top: -20px;
  }
}
