@import "../../App.scss";
.tendance {
  @include flexOne(row);
  background: linear-gradient($sectionColor, 50%, #111);
  .tendance__container {
    width: 90%;
    padding: 20px 0;
    @include flexOne(column);
    align-items: flex-start;
  }
}
