@import "../../App.scss";
.movie-card {
  width: 19%;
  height: 30rem;
  margin: 10px 0;
  text-align: left;
  background-color: $sectionColor;
  position: relative;
  cursor: pointer;

  .movie-card__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @media (max-width: 1280px) {
    width: 24%;
  }
  @media (max-width: 992px) {
    width: 33%;
  }
  @media (max-width: 768px) {
    width: 49%;
  }
  @media (max-width: 540px) {
    width: 99%;
  }
}
