@import "../../App.scss";
.detail-modal {
  position: relative;
  width: 60%;
  margin: auto;
  @include flexOne(column);
  .image-blur-modal {
    position: absolute;
    background-color: $sectionColor;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
  }
  .content-modal {
    position: relative;
    @include flexOne(column);
    justify-content: flex-start;
    padding-bottom: 20px;

    .close-modal {
      position: absolute;
      top: 20px;
      right: 20px;
      color: red;
      font-size: 40px;
      cursor: pointer;
      &:hover {
        color: $blueColor;
        transform: scale(1.1);
        transition: 0.4s ease-in-out;
      }
    }
    h2 {
      @include title(white);
      margin-top: 60px;
    }
    .detail {
      @include flexOne(row);
      align-items: flex-start;
      width: 90%;
      .description {
        @include flexOne(column);
        align-items: flex-start;
        padding-left: 20px;
        p {
          font-size: 26px;
          color: #fff;
          font-family: $robotoFamily;
          text-align: left;
          margin-bottom: -8px;
        }
        span {
          color: $blueColor;
        }
      }
    }
  }
  @media (max-width: 768px) {
    width: 90%;
    .content-modal {
      .close-modal {
        top: 5px;
        right: 5px;
        color: red;
        font-size: 25px;
      }
      h2 {
        margin-top: 20px;
        margin-bottom: 5px;
      }
      .detail {
        .detail__movie {
          display: none;
        }
        .description {
          padding: 0;
          p {
            font-size: 17px;
          }
        }
      }
    }
  }
}
