@import "../../App.scss";
.banner-detail {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient($sectionColor, 30%, #111);
  overflow: hidden;
  .banner-image {
    width: 100%;
    img {
      width: 100%;
    }
    @media (max-width: 768px) {
      height: 100%;
      object-fit: cover;
    }
  }
  .banner-detail__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient($sectionColor, 30%, #111);
    opacity: 0.93;
  }
  .banner-detail__text {
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    .detail {
      @include flexOne(row);
      align-items: flex-start;
      width: 100%;
      .movie {
        width: 50%;
      }
      .description {
        width: 50%;
        @include flexOne(column);
        align-items: flex-start;
        h3 {
          font-size: 40px;
          color: $blueColor;
          font-family: $robotoFamily;
          display: inline;
        }
        p {
          font-size: 26px;
          color: #fff;
          font-family: $robotoFamily;
          text-align: left;
          margin-bottom: -8px;
          width: 100%;
        }
        span {
          color: $blueColor;
        }

        @media (max-width: 768px) {
          width: 100%;
          height: 80vh;
          h3 {
            font-size: 30px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .detail {
      align-items: center;
      justify-content: center;
      .movie {
        display: none;
      }
      .description {
        overflow-x: scroll;
      }
    }
  }
}
.content-detail {
  width: 100%;
  background: linear-gradient(#111, 30%, $sectionColor);
  h2 {
    @include title(#fff);
  }
  .container-detail {
    width: 90%;
    margin: auto;
    .actor {
      @include flexOne(column);
    }
    .similaire {
      @include flexOne(column);
    }
  }
}
