@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Alba;
  src: url("./fonts/Shark\ Ready.ttf");
}
$sectionColor: #0b131b;
$whiteColor: #ffffff;
$redColor: rgb(207, 7, 7);
$blackColor: #0e0e0e;
$robotoFamily: Roboto;
$albaFamily: Alba;
$newColor: #0b131b;
$blueColor: #1987f3;
@mixin title($color) {
  color: $color;
  font-size: 35px;
  font-family: Roboto;
  position: relative;
  display: inline;
  &:before {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    top: 50px;
    left: 0;
    background: linear-gradient(75deg, $sectionColor, $blueColor);
  }
  &:after {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 52px;
    right: 0;
    background-color: $blueColor;
  }
}
@mixin flexOne($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
@mixin bouton($bgColor, $fontColor) {
  background-color: $bgColor;
  color: $fontColor;
  font-family: Roboto;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: none;
  border: 1px solid $whiteColor;
  outline: none;
  cursor: pointer;
}
@mixin boutonHover($bgColor, $fontColor) {
  background-color: $bgColor;
  color: $fontColor;
}
@mixin textLook($textColor) {
  color: $textColor;
  font-family: Roboto;
}
.App {
  text-align: center;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: $sectionColor;
}
::-webkit-scrollbar-thumb {
  background: $blueColor;
  border-radius: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}
