@import "../App.scss";
.collection {
  background-color: #111111;
  height: 40rem;
  width: 100%;
  @include flexOne(column);
  padding: 20px 0;
  .collection__container {
    width: 95%;
    height: 100%;
    @include flexOne(column);
    h2 {
      @include title(red);
    }
    .collection__container__image {
      @include flexOne(row);
      justify-content: space-between;
      height: 70%;
      width: 100%;
      .card-image {
        width: 19%;
        img {
          width: 100%;
        }
      }
    }
  }
}
