.banner__menu {
  background-color: #111111;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .close {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    &:hover {
      color: red;
      transform: scale(1.2);
      transition: 0.4s ease-in-out;
    }
  }
  .banner__menu__items {
    z-index: 10001;
    color: white;
    padding: 0;
    li {
      list-style: none;
      a {
        font-size: 35px;
        font-family: Roboto;
        display: block;
        padding: 20px 0;
        cursor: pointer;
        &:hover {
          background-color: red;
          transform: scale(1.1);
          transition: 0.5s ease-in-out;
        }
      }
    }
  }
}
