@import "../App.scss";
.latest-container {
  background-color: $sectionColor;
}
.latest {
  width: 70%;
  margin: auto;
  border: 2px solid red;
  padding: 30px;
  background-color: $sectionColor;
  @include flexOne(column);
  align-items: flex-start;
  .tendance__titre {
    @include title(#111111);
  }
  .movie-card-container {
    @include flexOne(row);
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .movie-card-container__left {
      width: 49% !important;
      border: 2px solid red;
      .movie-card {
        width: 100%;
        height: 40rem;
        border: 2px solid black;
        overflow: hidden;
        .movie-card__image {
          width: 100%;
          height: 60%;
          background-color: #666666;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
