@import "../App.scss";
.back-image {
  background-image: url("../images/collection.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.image-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $sectionColor;
  opacity: 0.97;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 30000;
  width: 100%;
  height: 100%;

  .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    &:hover {
      color: $blueColor;
      transform: scale(1.1);
      transition: 0.4s ease-in-out;
    }
  }
  h2 {
    @include title(white);
  }
  .banner__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    div {
      display: flex;
      justify-content: center;
      width: 100%;
      input {
        padding: 15px 20px;
        font-size: 24px;
        color: $sectionColor;
        font-family: Roboto;
        width: 90%;
        outline: none;
        border-radius: 10px;
      }
      button {
        padding: 0 10px;
        background-color: transparent;
        color: $blueColor;
        cursor: pointer;
        outline: none;
        border: none;
        .searchIcon {
          font-size: 30px;
          font-weight: bolder;
        }
      }
    }
    p {
      color: #ffffff;
      font-size: 30px;
      font-family: $robotoFamily;
    }
  }
  .result {
    width: 90%;
    overflow-y: scroll;
    @include flexOne(column);
    justify-content: flex-start;
    .movie-card-container {
      .movie-cardd {
        border: 2px solid $blueColor;
        width: 19%;
        position: relative;
        border-radius: 10px;
        cursor: pointer;
        .movie-card__image {
          width: 100%;
          border-radius: 10px;
          img {
            width: 100%;
            border-radius: 10px 10px 0 0;
          }
          h3 {
            color: $blueColor;
            text-align: center;
          }
        }
      }
    }
  }
}
