@import "../App.scss";
@mixin movie {
  width: 100%;
  height: 32%;
  border: 2px solid #666666;
  background-color: #fff;
  @include flexOne(row);
  justify-content: space-between;
  .news__movie__image {
    width: 38%;
    height: 100%;
    background-color: red;
  }
  .news__movie__text {
    width: 60%;
    height: 100%;
  }
}
.news {
  width: 100%;
  padding: 30px 0;
  @include flexOne(row);
  background-color: $sectionColor;
  .news__container {
    width: 100%;
    height: 40rem;
    position: relative;
    @include flexOne(column);
    .news__title {
      width: 100%;
      height: 45%;
      position: absolute;
      top: 0;
      background-color: #111111;
      @include flexOne(row);
      h2 {
        @include title($redColor);
      }
    }
    .news__content {
      width: 80%;
      height: 70%;
      position: absolute;
      top: 30%;
      @include flexOne(row);
      justify-content: space-between;
      align-items: flex-start;
      .news__content__left {
        width: 33%;
        height: 100%;
        @include flexOne(column);
        justify-content: space-between;
        .news__movie {
          @include movie();
        }
      }
      .news__content__middle {
        width: 33%;
        height: 80%;
        border: 2px solid red;
        background-color: $sectionColor;
        .news__movie {
          @include flexOne(column);
          width: 100%;
          justify-content: space-between;
          .news__movie__image {
            width: 100%;
            height: 69%;
            background-color: red;
          }
          .news__movie__text {
            width: 100%;
            height: 30%;
            border: 2px solid red;
          }
        }
      }
      .news__content__right {
        width: 33%;
        height: 100%;
        @include flexOne(column);
        justify-content: space-between;
        .news__movie {
          @include movie();
        }
      }
    }
  }
}
