@import "../App.scss";
.tendance {
  @include flexOne(row);
  padding: 30px 0;
  background-color: $sectionColor;
  .tendance__container {
    width: 80%;
    @include flexOne(column);
    .tendance__titre {
      @include title(#111111);
    }
    .groupButton {
      border: 1px solid white;
      background-color: $whiteColor;
      margin: 20px 0;
      @include flexOne(row);
      a {
        @include bouton($redColor, $whiteColor);
      }
      button {
        @include bouton($whiteColor, $redColor);
        &:hover,
        &:active {
          @include boutonHover($redColor, $whiteColor);
        }
      }
    }
    .movie-card-container {
      @include flexOne(row);
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      .movie-card {
        width: 24%;
        height: 35rem;
        margin: 8px 0;
        text-align: left;
        background-color: #fff;
        cursor: pointer;
        .movie-card__image {
          max-width: 100%;
          height: 70%;
          background-color: rgb(228, 114, 114);
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .movie-card__description {
          padding: 0 10px;
        }
        .movie-card__detail {
          padding: 0 10px;
          @include flexOne(row);
          justify-content: flex-start;
          .visibility,
          .favorite {
            color: $redColor;
          }
          .favorite {
            margin-left: 20px;
          }
          span {
            padding: 0 5px;
          }
        }
      }
    }
    .groupPageButton {
      margin: 20px 0;
      button {
        @include bouton($redColor, $whiteColor);
        margin: 0 10px;
      }
    }
  }
}
