@import "../App.scss";
.tendance {
  @include flexOne(row);
  padding: 30px 0;
  padding: 50px 0;
  // background-color: $newColor;
  background: linear-gradient($sectionColor, 30%, #111);
  .tendance__container {
    width: 90%;
    padding: 20px 0;
    @include flexOne(column);
    align-items: flex-start;
    .tendance__container__titre {
      @include flexOne(row);
      justify-content: space-between;
      width: 100%;
      margin-bottom: 50px;

      position: relative;
      .tendance__titre {
        @include title(#fff);
      }
      button {
        width: 300px;
        text-align: left;
        background-color: transparent;
        font-size: 30px;
        color: $blueColor;
        outline: none;
        appearance: none;
        border: none;
        padding-left: 20px;
        span {
          cursor: pointer;
        }
      }
      .select-categorie {
        width: 300px;
        height: 100px;
        position: absolute;
        right: 0;
        background-color: #13202b;
        top: 60px;
        @include flexOne(column);
        align-items: flex-start;
        padding: 0;
        z-index: 4;
        li {
          box-sizing: border-box;
          margin-left: 0;
          font-family: $robotoFamily;
          font-size: 28px;
          color: #fff;
          list-style: none;
          left: 0;
          width: 100%;
          height: 50%;
          padding-left: 20px;
          cursor: pointer;
          @include flexOne(row);
          justify-content: flex-start;
          &.activee,
          &:hover {
            background-color: $blueColor;
          }
        }
      }
    }

    .groupButton {
      border: 1px solid white;
      background-color: $whiteColor;
      margin: 20px 0;
      @include flexOne(row);
      a {
        @include bouton($redColor, $whiteColor);
      }
      button {
        @include bouton($whiteColor, $redColor);
        &:hover,
        &:active {
          @include boutonHover($redColor, $whiteColor);
        }
      }
    }
    .movie-card-container {
      @include flexOne(row);
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      .movie-card {
        width: 19%;
        height: 35rem;
        margin: 10px 0;
        text-align: left;
        background-color: #fff;
        position: relative;
        cursor: pointer;
        .movie-card__image {
          max-width: 100%;
          height: 83%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .movie-card__description {
          padding: 0 10px;
          height: 17%;
          @include flexOne(column);
          justify-content: center;
          align-items: flex-start;

          .movie-card__detail {
            margin: 0;

            @include flexOne(row);
            justify-content: flex-start;
            .visibility,
            .favorite {
              color: $redColor;
            }
            .favorite {
              margin-left: 20px;
            }
            span {
              padding: 0 5px;
            }
          }
        }
      }
      .movie-card__effect {
        .movie-card__over-effect {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: $sectionColor;
          opacity: 0.9;
        }
        .movie-card__over-content {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 2;
          cursor: initial;
          @include flexOne(column);
          button {
            margin-bottom: 10px;
            border: 1px solid $blueColor;
            @include bouton(transparent, $blueColor);
            &:hover {
              @include boutonHover($blueColor, $whiteColor);
              transform: scale(1.1);
              transition: 0.4s ease-in-out;
              border: 1px solid $blueColor;
            }
          }
        }
      }
    }
    .groupPageButton {
      margin: 20px 0;
      div {
        color: $blueColor;
      }
      button {
        @include bouton(transparent, $blueColor);
        border: 1px solid $blueColor;
        padding-top: 4px;
        padding-bottom: 4px;
        margin: 0 10px;
        &:hover {
          @include boutonHover($blueColor, $whiteColor);
          transform: scale(1.1);
          transition: 0.4s ease-in-out;
          border: 1px solid $blueColor;
        }
      }
      margin: auto;
      padding: 20px;
    }
  }
}
