@import "../../App.scss";
.collection {
  background: linear-gradient(#111, 50%, $sectionColor);
  height: 40rem;
  width: 100%;
  @include flexOne(column);
  padding: 20px 0;
  .collection__container {
    width: 95%;
    height: 100%;
    padding-bottom: 20px;
    @include flexOne(column);
    justify-content: space-around;
    h2 {
      @include title(#fff);
    }
    .collection__container__image {
      width: 90%;
      .card-wrapper {
        position: relative;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        &:active,
        &:hover,
        &:focus {
          outline: none;
          border: none;
        }
        .card {
          border: 2px solid $blueColor;
          width: 100%;
          height: 560px;
          border-radius: 16px;
          overflow: hidden;
          cursor: pointer;
          position: relative;
          .card-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 0.5s;
            z-index: 3;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .social-icons {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            display: flex;
            li {
              list-style: none;
              font-size: 50px;
              a {
                position: relative;
                display: block;
                text-align: center;
                background-color: transparent;
                color: $blueColor;
                transition: 0.4s;
                transition-delay: 0.5s;
                transform: translateY(200px);
                opacity: 0;
                font-size: 5rem !important;
                &:nth-child(1) {
                  font-size: 5rem !important;
                }
              }
            }
          }
          .details {
            position: absolute;
            top: 460px;
            left: 0;
            width: 100%;

            height: 80px;

            padding: 10px;
            transition: 0.6s;
            h3 {
              color: $blueColor;
            }
          }
          &:hover {
            img {
              opacity: 0.4;
              transition: 0.5s;
            }
            .card-image {
              transform: translateY(-100px);
              transition: all 0.9s;
            }
            .social-icons {
              li {
                a {
                  transform: translateY(0px);
                  opacity: 1;
                  &:nth-child(1) {
                    transition: 0.8s;
                    &:hover {
                      transform: rotate(360deg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
